<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
.replyInfoIndex>p{
	display:inline-block;
}

.replyList>p{
	display:inline-block;
}


</style>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:inline="javascript">
/*<![CDATA[*/
	var rp=/*[[ ${rp} ]]*/
	function getParentReplyInfo(reply_num){
	console.log("대댓글 쓰기 버튼 클릭됨!");
	console.log(reply_num);
	$("#ref_reply_num").val(reply_num);
	$("#replyForm").attr("action", "/insertReReplyOK/"+reply_num);
	$.ajax({
		url:"/insertReReply/"+reply_num,
		//data:{reply_num:reply_num}, //=>이건 쿼리스트링방식!!
		success:function(arr){
			
	}})
	}

	$(function(){
		$("#subject").html(/*[[${b.post_title}]]*/);
		$("#content").html(/*[[${b.post_content}]]*/);
	});
/*]]*/
</script>
</head>
<body>
<th:block th:switch="${b.board_num}">
    <span th:case="1">notice</span>
    <span th:case="2">community</span>
    <span th:case="3">review</span>
    <span th:case="4">FAQ</span>
</th:block>
<hr>
<div>
<p id="subject"></p>
<!-- <p>글 번호 : <span th:text="${b.post_num}"></span></p>
<p>게시판 번호 : <span th:text="${b.board_num}"></span></p> -->
<p>사용자 닉네임 : <span th:text="${b.userinfo.user_nick}"></span></p>
<p>조회수 : <span th:text="${b.post_hit}+1"></span></p>
<th:block th:if="${b.board_num==3}">
<p>리뷰 장소 이름 : <span th:text="${b.place.place_name}"></span></p>
<p>리뷰 장소 주소 : <span th:text="${b.place.place_addr}"></span></p>
</th:block>
<hr>
게시글 내용 : <p id="content"></p>
</div>
<hr>
<legend>댓글 내역</legend>
 
<div id="detailReplyByPostNum">

			<div class="replyInfoIndex">
          	<p>댓글번호</p>
          	<p></p>
            <p>작성자</p>
            <p>@부모닉네임</p>
            <p>댓글</p>
            <p></p>
            <p></p>
			</div>
			
			<div class="replyList">
            <tr th:each="rp:${reply_and_parent_list}" >
            <p th:text="${rp.reply_num}"></p>
             <th:block th:if="${rp.reply_level==1}">
				<p>ㄴ</p>
			</th:block>
			<th:block th:unless="${rp.reply_level==1}">
				<p></p>
			</th:block>  
			<p th:text="${rp.userinfo.user_nick}"></p>
			<p th:text="${rp.parent_nick}"></p>
			<p th:text="${rp.reply_content}"></p>
			<th:block th:if="${rp.isDeleted==0}">
          	<p><button><a th:href="@{/deleteReply/{reply_num}(reply_num=${rp.reply_num})}">삭제</a></button></p>
          	<p><button id="btnInsertReReply" type="button" th:myReplyNum="${rp.reply_num}" th:onclick="getParentReplyInfo(this.getAttribute('myReplyNum'))">답글쓰기</button></p>
         	</th:block>
         	<th:block th:unless="${rp.isDeleted==0}">
         	<p> </p>
         	<p> </p>
         	</th:block>
         	<br>
          </tr>
          </div>
		
</div>

<hr>
<form id="replyForm" method="post" action="/insertReplyOK">
	<input type="hidden" th:name="post_num" th:value="${b.post_num}">
	<input type="hidden" th:name="board_num" th:value="${b.board_num}">
	<input type="hidden" name="reply_num" id="ref_reply_num" value="0">
	사용자 : <select name="user_num">
		<option> 사용자선택 </option>
		<option th:each="u : ${user_list}"
				th:value="${u?.user_num}"
				th:utext="${u?.user_nick}"></option>
		</select>
	<br>
	<textarea id="reply_content" name="reply_content" rows="2" cols="90"></textarea>
	<button type="submit" id="submit" name="submit">등록</button>
</form>
<hr>
<button><a th:href="@{/updateBoard/{post_num}(post_num=${b.post_num})}">수정</a></button>
<button><a th:href="@{/deleteBoard/{post_num}(post_num=${b.post_num})}">삭제</a></button>
</body>
</html>