<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:inline="javascript">
/*<![CDATA[*/
$(function(){
	$("#love").html(/*[[${b.post_content}]]*/);
})
/*]]*/
</script>
</head>
<body>
<h4>제목 해결하기</h4>

<hr>
<div>
<!-- detailReview 는 지역/장소 구분하는 select 박스+ 옵션 값 가져오는 애들도 동작해야함 -->
<p>제목 <span th:text="${b.post_title}"></span></p>
<p>글 번호 <span th:text="${b.post_num}"></span></p>
<p>게시판 번호 <span th:text="${b.board_num}"></span></p>
<p>사용자 닉네임 <span th:text="${b.userinfo.user_nick}"></span></p>
<hr>
<p id="love">

</div>
<button><a >수정</a></button>
</body>
</html>