<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">

</script>
</head>
<body>
 
<div><img src="/또바기.png"></div>

<nav id ="main_category">
  <a href="home">home</a> |
  <a href="travel">travel</a> |
  <a href="plan">plan</a> |
  <a href="board">board</a> |
  <a href="our team">our team</a>
</nav>

<div class="entry">
 <span>Register</span>
  <span>Login</span>
  <span>My page</span>
</div>

<fieldset >
 <nav id="board_category" ><!--goCategory가 동작해서 board_num=1일때 -->
 	
   <span><a th:href="@{/listBoard/{board_num}(board_num=${1})}" th:text="Notice" style="text-decoration: none"></a></span>
   <span><a th:href="@{/listBoard/{board_num}(board_num=${2})}" th:text="Community" style="text-decoration: none"></a></span>
   <span><a th:href="@{/listBoard/{board_num}(board_num=${3})}" th:text="Review" style="text-decoration: none"></a></span>
   <span><a th:href="@{/listBoard/{board_num}(board_num=${4})}" th:text="FAQ" style="text-decoration: none"></a></span>
  </nav>
  <table id="list">   
      <caption></caption>
      <tr>
        <thead>
          <tr>
            <th>글번호</th>
             <th>글제목</th>
             <th>조회수</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="b:${list}">
            <td th:text="${b.post_num}"></td>
          	<td id="btnDetail"><a th:href="@{/detailPost/{b.board_num}/{b.post_num}(b.board_num=${b.board_num},b.post_num=${b.post_num})}" 
          	style="text-decoration: none"><span th:text="${b.post_title}"></span></a>
            <td th:text="${b.post_hit}"></td>
          </tr>
        </tbody>
     </table>
     <!-- 시작부터 끝까지 반복 -->
	<th:block th:each="page : ${#numbers.sequence(startPage,endPage)}">
	<!--page가 현재 page와 다를때///여기가 원본버전-->
	<a th:if="${page != pageNum}" th:href ="@{/firstListBoard(page = ${page-1})}" th:text="${page}"></a>
	<strong th:if="${page == pageNum}" th:text="${page}" style="color : green"></strong>
  </fieldset>
  </fieldset>
  
</body>
</html>