<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>글쓰기</title>
</head>

<!-- include libraries(jQuery, bootstrap) -->
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>

<!-- include summernote css/js-->
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>
<body>
<div id="wrap">
    <form id="articleForm" th:method="post" th:action="@{/insertBoardOK/{board_num}(board_num=${board_num})}">
        <br style="clear: both">
        <!-- <input type="number" name="board_num" placeholder="게시판번호"> -->
		<input type="hidden" th:value="${board_num}">
        <!-- <input type="number" name="userinfo.user_num" placeholder="사용자번호"> -->
		사용자 : <select th:name="userinfo.user_num">
				<option> 사용자선택 </option>
				<option th:each="u : ${user_list}"
						th:value="${u?.user_num}"
						th:utext="${u?.user_nick}"></option>
			</select>
		<br><br>
        <div class="form-group">
            <input type="text" class="form-control" id="subject" name="post_title" placeholder="제목" required>
        </div>
        <div class="form-group">
            <textarea class="form-control" id="summernote" name="post_content" placeholder="내용을 입력하세요" maxlength="140" rows="7"></textarea>
            <div id="imageBoard"></div>
        </div>
        
        <div id="imageBoard"></div>
        <button type="submit" id="submit" name="submit" class="btn btn-primary pull-right">등록</button>
    </form>
</div>

<script>
    $(document).ready(function() {
        $('#summernote').summernote({
            height: 300,
            minHeight: null,
            maxHeight: null,
            focus: true,
            callbacks: {
                onImageUpload: function(files, editor, welEditable) {
                    for (var i = files.length - 1; i >= 0; i--) {
                    	console.log(this.toString());
                        sendFile(files[i], this);
                    }
                }}
            });
        });

    function sendFile(file, el) {
        var form_data = new FormData();
        form_data.append('file', file);
        $.ajax({
            data: form_data,
            type: "POST",
            url: '/image',
            cache: false,
            contentType: false,
            enctype: 'multipart/form-data',
            processData: false,
            success: function(url) {
                $(el).summernote('editor.insertImage', url);
                $('#imageBoard > ul').append('<li><img src="'+url+'" width="80" height="auto"/></li>');
            }
        });
    }

</script>
</body>
</html>