<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
/*
 $(function(){
	 $("#btnDetail").click(function(){
		 $.ajax({
			 url : "/getPostByPostNum/{post_num}",
			 success : function(){
				 alert(detail);
			 }
			 
		 });
		 
	 });
	 
	 
 });
*/

</script>
</head>
<body>
 
<div><img src="/또바기.png"></div>

<nav id ="main_category">
  <a href="home">home</a> |
  <a href="travel">travel</a> |
  <a href="plan">plan</a> |
  <a href="board">board</a> |
  <a href="our team">our team</a>
</nav>

<div class="entry">
 <span>Register</span>
  <span>Login</span>
  <span>My page</span>
</div>

<fieldset >
 
 	 <nav id="board_category" ><!--goCategory가 동작해서 board_num=1일때 -->
 	
   <span><a th:href="@{/listBoard/{board_num}(board_num=${1})}" th:text="Notice" style="text-decoration: none"></a></span>
   <span><a th:href="@{/listBoard/{board_num}(board_num=${2})}" th:text="Community" style="text-decoration: none"></a></span>
   <span><a th:href="@{/listBoard/{board_num}(board_num=${3})}" th:text="Review" style="text-decoration: none"></a></span>
   <span><a th:href="@{/listBoard/{board_num}(board_num=${4})}" th:text="FAQ" style="text-decoration: none"></a></span>
  </nav>

  <input type="search" placeholder="장소 이름을 검색하세요">
 <!-- 
  <select th:field="place_type" th:text="말머리">
   	<option th:value="1" th:text="식음료"></option>
   	<option th:value="2" th:text="숙박지"></option>
   	<option th:value="3" th:text="관광지"></option>
   </select>
  
  <select th:field="place_region" th:text="지역">
    <option th:value="1" th:text="서울"></option>
    <option th:value="2" th:text="경기"></option>
    <option th:value="3" th:text="인천"></option>
    <option th:value="4" th:text="강원"></option>
    <option th:value="5" th:text="충북"></option>
    <option th:value="6" th:text="충남"></option>
    <option th:value="7" th:text="전북"></option>
    <option th:value="8" th:text="전남"></option>
    <option th:value="9" th:text="경북"></option>
    <option th:value="10" th:text="경남"></option>
    <option th:value="11" th:text="제주"></option> 
  </select>
  -->
 
 
  <table id="list">   
      <caption>Review</caption>
      <tr>
        <thead>
          <tr>
            <th>글번호</th>
             <th>글제목</th>
             <th>조회수</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="b:${boardCategory}">
            <td th:text="${b.post_num}"></td>
          	<td id="btnDetail"><a th:href="@{/detailPost/{b.board_num}/{b.post_num}(b.board_num=${b.board_num},b.post_num=${b.post_num})}" style="text-decoration: none">
          	<span th:text="${b.post_title}"></span></a>
            <td th:text="${b.post_hit}"></td>
          </tr>
        </tbody>
     </table>
  <div class="page">
    <span><</span>
    <span>1</span>
    <span>2</span>
    <span>3</span>
      <span>></span>
     
  </div>
  </fieldset>
<button><a th:href="@{/insertBoard/{board_num}(board_num=${board_num})}">글쓰기</a></button>

</body>
</html>