<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:inline="javascript">
/*<![CDATA[*/
$(function(){
	//검색하기 버튼 눌렀을때
	$("#btnSearch").click(function(){
		$("#boardList").empty();
		var title = $("#searchTitle").val();
		var BNum=/*[[${board_num}]]*/
		$.ajax({
			url:"/findByPostTitle",
			data:{"board_num" : BNum, "post_keyword" : title},
			//dataType:"html",데이터를 받아오는거니까 html로 받아오는게 아님!!
			//async:true, //ajax를 비동기가 아닌 동기식으로 처리
			success:function(reviewList){
			$("#boardList").empty();
			$.each(reviewList,function(i){
				console.log(reviewList[i].place_num);
				$("#boardList").append("<tr>");
				$("#boardList").append("<td>"+reviewList[i].post_num+"</td>");
				$("#boardList").append("<td><a href=/detailPost"+"/"+reviewList[i].board_num+"/"+reviewList[i].post_num+">"+reviewList[i].post_title+"</a></td>");
				$("#boardList").append("<td>"+reviewList[i].post_hit+"</td>");
				//$("#boardList").append("<td>"+reviewList[i].place.place_num+"</td>");
				$("#boardList").append("</tr>");
				})
			}
		});
	})
});
/*]]>*/
</script>
</head>
<body>
<div><img src="/또바기.png"></div>

<nav id ="main_category">
  <a href="home">home</a> |
  <a href="travel">travel</a> |
  <a href="plan">plan</a> |
  <a href="board">board</a> |
  <a href="our team">our team</a>
</nav>

<div class="entry">
 <span>Register</span>
  <span>Login</span>
  <span>My page</span>
</div>

<fieldset>
  <nav id="board_category" ><!--goCategory가 동작해서 board_num=1일때 -->
   <span><a th:href="@{/listBoard/{board_num}(board_num=${1})}" th:text="Notice" style="text-decoration: none"></a></span>
   <span><a th:href="@{/listBoard/{board_num}(board_num=${2})}" th:text="Community" style="text-decoration: none"></a></span>
   <span><a th:href="@{/listBoard/{board_num}(board_num=${3})}" th:text="Review" style="text-decoration: none"></a></span>
   <span><a th:href="@{/listBoard/{board_num}(board_num=${4})}" th:text="FAQ" style="text-decoration: none"></a></span>
  </nav>

  <input type="search" id="searchTitle" name="post_keyword" placeholder="제목을 검색하세요"/>
  <button id="btnSearch">검색하기</button><br>
    <th:block th:switch="${board_num}">
    <span th:case="1">notice</span>
    <span th:case="2">community</span>
    <span th:case="3">review</span>
    <span th:case="4">faq</span>
	</th:block>
    <table id="list">   
        <thead>
          <tr>
             <th>글번호</th>
             <th>글제목</th>
             <th>조회수</th>
          </tr>
        </thead>
        <tbody id="boardList">
          <tr th:each="b:${boardCategory}">
            <td th:text="${b.post_num}"></td>
          	<td id="btnDetail"><a th:href="@{/detailPost/{b.board_num}/{b.post_num}(b.board_num=${b.board_num},b.post_num=${b.post_num})}" style="text-decoration: none">
          	<span th:text="${b.post_title}"></span></a>
            <td th:text="${b.post_hit}"></td>
          </tr>
        </tbody>
     </table>
  <div class="page">
    <span><</span>
    <span>1</span>
    <span>2</span>
    <span>3</span>
    <span>></span>    
  </div>
</fieldset>
<button><a th:href="@{/insertBoard/{board_num}(board_num=${board_num})}">글쓰기</a></button>
</body>
</html>