<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">

</script>
</head>
<body>
<span id="BoardC"></span>

<!-- 
<th:block th:if="{boardCategory.board_num ==1}">
	<h2>Notice</h2>
</th:block>
<th:block th:if="{boardCategory.board_num =2}">
	<h2>Community</h2>
</th:block>
<th:block th:if="{boardCategory.board_num =4}">
	<h2>FAQ</h2>
</th:block>
 -->
 <nav id="board_category" ><!--goCategory가 동작해서 board_num=1일때 -->
 	
   <span><a th:href="@{/listBoard/{board_num}(board_num=${1})}" th:text="Notice" style="text-decoration: none"></a></span>
   <span><a th:href="@{/listBoard/{board_num}(board_num=${2})}" th:text="Community" style="text-decoration: none"></a></span>
   <span><a th:href="@{/listBoard/{board_num}(board_num=${3})}" th:text="Review" style="text-decoration: none"></a></span>
   <span><a th:href="@{/listBoard/{board_num}(board_num=${4})}" th:text="FAQ" style="text-decoration: none"></a></span>
  </nav>
	  <table id="list">   
      <caption th:text></caption>
      <tr>
        <thead>
          <tr>
            <th>글번호</th>
             <th>글제목</th>
             <th>조회수</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="b:${boardCategory}">
            <td th:text="${b.post_num}"></td>
          	<td><a th:href="@{/detailPost/{b.board_num}/{b.post_num}(b.board_num=${b.board_num},b.post_num=${b.post_num})}" 
          		style="text-decoration: none"><span th:text="${b.post_title}"></span></a>
            <td th:text="${b.post_hit}"></td>
          </tr>
        </tbody>
     </table>
     <div class="page">
    <span><</span>
    <span>1</span>
    <span>2</span>
    <span>3</span>
      <span>></span>
     
  </div>
 <!-- <button><a th:href="@{/insertBoard/${boardCategory[0].board_num}}">글쓰기</a></buttton> -->
<!-- <button><a th:onclick="'location.href=\''+ @{/insertBoard/${b.board_num}} + '\''">글쓰기</a></buttton> -->
<!--  <button><a th:href="@{/insertBoard/{b.board_num}(b.board_num=${b.board_num})}"><span th:text="글쓰기"></span></a></buttton>-->
<!-- <button th:onclick="'location.href = \'' + @{/insertBoard/${boardCategory[0].board_num}} + '\''">글쓰기</button> -->
<button><a th:href="@{/insertBoard/{board_num}(board_num=${board_num})}">글쓰기</a></button>
</body>
</html>