<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="/signUp" method="post">
      id : <input type="text" name="user_id"> <br>
      password : <input type="password" name="user_pwd"> <br>
      nickname : <input type="text" name="user_nick"><br>
      phone : <input type="tel" name="user_phone"><br>
      profile image : <input type="file" name="user_file"><br>
      <input type="hidden" name="user_role" value="USER" checked="checked"> user <br>
      <input type="submit" value="가입하기"> 
    </form> <br>

    <!-- <a href="/signUp">Go to join! →</a> -->
</body>
</html>